.music-btn-wrapper {
  position: absolute;
  z-index: 100;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  width: max(45px, 8vh);
  height: max(45px, 8vh);
  border-radius: 50%;

  transition: transform 0.2s ease, filter 0.2s ease;
}

@media (hover: hover) and (pointer: fine) {
  .music-btn-wrapper:hover {
    filter: brightness(1.1);
    transform: scale(1.25);
  }
}

.music-btn-wrapper:active {
  opacity: 0.7;
  transform: scale(1.7);
}

.music-btn-wrapper {
  transform: scale(1.25);
}







/* Mobile adjustments */
@media (max-width: 768px), (max-height: 500px) {
  .music-btn-wrapper {
    transform: scale(0.9);
  }
  .music-btn-wrapper:hover {
    transform: scale(0.95);
  }
}

/* Progressive zoom out scaling */
@media (min-width: 1500px) and (min-height: 700px) {
  .music-btn-wrapper {
    transform: scale(1);
  }

  .music-btn-wrapper:hover {
    transform: scale(1);
  }
}

@media (min-width: 1700px) and (min-height: 700px) {
  .music-btn-wrapper {
    transform: scale(1.1);
  }

  .music-btn-wrapper:hover {
    transform: scale(1.15);
  }
}

@media (min-width: 1950px) and (min-height: 700px) {
  .music-btn-wrapper {
    transform: scale(1.45);
  }

  .music-btn-wrapper:hover {
    transform: scale(1.5);
  }
}

@media (min-width: 2200px) and (min-height: 700px) {
  .music-btn-wrapper {
    transform: scale(1.6);
  }

  .music-btn-wrapper:hover {
    transform: scale(1.65);
  }
}

@media (min-width: 2500px) and (min-height: 700px) {
  .music-btn-wrapper {
    transform: scale(1.8);
  }

  .music-btn-wrapper:hover {
    transform: scale(1.85);
  }
}